<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoObservable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5481FBC41DED5CD300D23EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5481FBD81DED5CD300D23EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5481FBE31DED5CD300D23EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
